# -------------------------
# Backend
# -------------------------
# app db creds
DATABASE_URL=
ENCRYPTION_KEY=


# test db
TEST_DSN_1=
TEST_DSN_2=


# model api keys
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GEMINI_API_KEY=

# -------------------------
# Frontend
# -------------------------
NEXT_PUBLIC_API_URL=http://localhost:8000
